<div class="join_leave">
  <% elsif group.users.include?(current_user) %>
  <%= link_to 'Leave this group', group_path(group), method: :delete, class: "btn btn-sm btn-danger" %>
  <% else %>
  <%= link_to 'Join this group', group_join_path(group), class: "btn btn-sm btn-success" %>
</div>